---
export const prerender = true;
import '@/styles/globals.css';
---
<!doctype html>
<html lang="ja">
  <head><meta charset="utf-8" /><title>SevenSeatJP</title></head>
  <body><h1>SevenSeatJP</h1></body>
</html>
